.App {
  background-color: #eee;
  height: 100vh;
  width: 100vw;
}

.search-bar-container {
  padding-top: 5vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.super-bar-logo {
  color:rgb(93, 118, 109);
  padding-top: 10vh;
  text-align: center;
  font-family: monospace;
  font-size: 15vh;
}